.dropdown {
    background-color: $dropdown-header-bg-color;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #fff;
    position: relative;
    width: 250px;

    &_open {
        border-radius: 10px 10px 0 0;
    }
}
