.dropdown {
    width: 250px;

    background-color: #5656ff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    color: #fff;
    overflow: hidden;

    &__list-options {
        position: relative;
        margin: 5px 0px;
        margin-right: 3px;
        display: none;
        overflow-x: hidden;
        max-height: 150px;
    }

    &_open {
        .dropdown {
            &__list-options {
                display: block;
            }
        }
    }
}
