.pagination {
    &__slide-button {
        background-color: #6174df;
        border: none;
        border-radius: 50%;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 3px 5px;
        padding: 10px 15px;

        &:hover {
            background-color: #1f2131;
            cursor: pointer;
        }
    }
}
