.painting {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 275px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px 8px;

    &__image {
        width: 360px;
        height: 275px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__full-info {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(113, 110, 255, 0.8);
        opacity: 0;
        transition: opacity 1s ease-in-out;
        z-index: 1;
    }

    &:hover {
        .painting {
            &__full-info {
                opacity: 1;
            }
        }
    }
}
