.painting {
    display: inline-flex;
    flex-direction: column;
    height: 340px;
    width: 256px;

    background-color: var(--painting-bg-color);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    &__image {
        overflow: hidden;

        img {
            max-height: 256px;
            max-width: 256px;

            border-radius: 5px;
            object-fit: contain;
        }
    }

    &__info {
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}
