.dropdown {
    &__list-wrapper {
        background-color: $dropdown-list-bg-color;
        display: none;
        position: absolute;
        width: 250px;
        z-index: 10;
    }

    &__list-options {
        margin: 5px 0;
        margin-right: 5px;
        overflow-x: hidden;
    }

    &_open {
        .dropdown {
            &__list-wrapper {
                border-radius: 0 0 10px 10px;
                display: block;
            }
        }
    }
}
