@import "./variables/theme.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(138, 138, 247);
}

#root {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/images/bg.svg");
}

.content {
    margin: 100px auto;
    padding: 25px 30px;
    width: 100%;
    max-width: 1200px;
    background-color: #3844b3;
    border-radius: 10px;

    @media screen and (max-width: 425px) {
        padding: 50px 20px;
    }
}

.shadow {
    box-shadow: 15px 15px 10px 0px #223c5033;
}

// SCROLL BAR
* {
    scrollbar-width: thin;
    scrollbar-color: #2b6be9 $scroll-bar-bg-light;
}

*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: $scroll-bar-bg-light;
}

*::-webkit-scrollbar-track:hover {
    background-color: $scroll-bar-bg-light;
}

*::-webkit-scrollbar-track:active {
    background-color: $scroll-bar-bg-light;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: $scroll-thumb-bg-light;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: $scroll-thumb-bg-light-hover;
}

*::-webkit-scrollbar-thumb:active {
    background-color: $scroll-thumb-bg-light-active;
}
