.page-home {
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    background-color: var(--page-home-bg-color);
    border-radius: 10px;
}
