.page-home {
    padding: 15px 30px;
    min-height: 250px;
    height: 100%;
    background-color: var(--page-home-bg-color);
    border-radius: 10px;

    &__gallery-container {
        margin: 15px auto;
        width: 1120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
