.input {
    padding: 5px 10px;
    min-width: 100px;

    border: none;
    border-radius: 10px;
    color: #000;
    font-size: 1.2rem;
    outline: none;

    &::placeholder {
        color: #807f7f;
    }

    &:focus {
        outline: 2px solid #32326d;
    }
}
