.input {
    display: flex;
    flex-direction: column;
    min-width: 265px;

    &__root {
        border: none;
        border-radius: 10px;
        color: #000;
        font-size: 1.2rem;
        outline: none;
        padding: 10px;

        &::placeholder {
            color: #7f7f80;
        }

        &:focus {
            outline: 2px solid #7272b6;
        }
    }

    &__label {
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &_error {
        .input {
            &__root {
                outline: 2px solid red;
            }
        }
    }
}
