.dropdown {
    &__header {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: space-between;
        padding: 10px 15px;

        &,
        & * {
            cursor: pointer;
        }
    }

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__settings {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__clear {
        background-color: transparent;
        border: 0px;
        margin-left: 5px;
        outline: 0px;
        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
        }
    }

    &__toggler {
        background-color: transparent;
        border: 0px;
        margin-left: 5px;
        outline: 0px;
        transition: all 0.2s ease-in-out;

        svg {
            fill: #fff;
            height: 20px;
            width: 20px;
        }
    }

    &_open {
        .dropdown {
            &__toggler {
                transform: rotate(90deg);
            }
        }
    }
}
