.dropdown {
    &__option {
        align-items: center;
        border-radius: 0 10px 10px 0;
        display: flex;
        margin-bottom: 3px;
        margin-right: 5px;
        overflow: hidden;
        padding: 10px;

        &-dot {
            background-color: $dropdown-dot-color;
            border-radius: 50%;
            height: 8px;
            margin-right: 10px;

            opacity: 0;
            transition: all 0.1s ease-in;
            width: 8px;
        }

        &-label {
            font-size: 1.2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &_selected {
            background-color: $dropdown-option-bg-color-selected;

            .dropdown__item-dot {
                opacity: 1;
            }
        }

        &:hover {
            background-color: $dropdown-option-bg-color-hover;
            cursor: pointer;
        }
    }
}
