.filters {
    align-items: center;
    background-color: rgb(76, 64, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 25px;
    padding: 10px 20px;
}
