.pagination {
    &__button {
        background-color: #6174df;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 3px 5px;
        min-width: 32px;
        padding: 10px 15px;

        &_active {
            background-color: #4150a5;
        }

        &:hover {
            background-color: #001aad;
            cursor: pointer;
        }
    }
}
