.empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: var(--empty-bg-color);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
