.empty-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

.empty {
    background-color: $empty-bg-color;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 10px;
    text-align: center;
}
