.empty-container {
    margin: 0 auto;
}

.empty {
    margin: 0 auto;
    padding: 15px 10px;

    text-align: center;
    border-radius: 10px;
    background-color: #1c2469;

    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
