.go-top {
    background-color: $go-top-btn-bg-color;
    border: none;
    border-radius: 10px;
    bottom: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 50px;
    padding: 10px;
    position: fixed;
    z-index: 100;

    &:hover {
        background-color: $go-top-btn-bg-color-hover;
    }

    &_hidden {
        display: none;
    }
}
