.go-top {
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;

    border: none;
    background-color: var(--go-top-btn-bg-color);
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    &:hover {
        background-color: var(--go-top-btn-bg-color-hover);
    }

    &_hidden {
        display: none;
    }
}
