.go-top {
    padding: 10px;
    position: fixed;
    bottom: 50px;
    left: 50px;

    border: none;
    background-color: #4745f0;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;

    &_hidden:hover {
        background-color: #3c3aa3;
    }
}
