.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;

    background-color: var(--page-not-found-bg-color);
    border-radius: 10px;
}
