.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 250px;
    width: 100%;

    background-color: #414166;
    border-radius: 10px;

    &__content {
        color: #ffffff;

        font-size: 24px;
        font-weight: bold;
    }
}
